# Amazon Food Reviews

In [26]:
import pandas as pd

In [27]:
food_df = pd.read_csv('./small_reviews.csv')

In [31]:
food_score = food_df[['Text','Score']].sort_values(by='Score')
food_score

                                                   Text  Score
8582  As coffee in general, this Wolfgang variety wa...      1
5024  Looked like a good deal, so I ordered the grou...      1
2868  When I placed my order it was for Hartz Pigski...      1
5021  This product was a big disappointment.  The pi...      1
2870  I emailed customer service and asked if the tr...      1
...                                                 ...    ...
4115  This thing works instantly. You plug in your m...      5
4114  This people is a must have especially to take ...      5
4113  I use this with my Audio Technica condensor. W...      5
4108  This Icicle performs flawlessly with very good...      5
9998  i love the fact that i can get this delieved t...      5

[9999 rows x 2 columns]

In [32]:
def create_sentiment(num):
    if num <= 2:
        return 23
    if num == 3:
        return 1
    if num <= 5 and num > 3:
        return 2

In [47]:
food_score['sentiment'] = food_score['Score'].apply(create_sentiment)
food_score.sample(5)

                                                   Text  Score  sentiment
7162  I love these cups. My husband and I like commu...      5        0.0
4133  it is what is is... and it did the job that it...      3        0.0
2826  Pineapple is hands down my favorite flavor of ...      5        0.0
7070  Looking at all the disposable/reusable K-Cup d...      3        0.0
9438  love this Rodeo Drive it has a very drinkable ...      4        0.0